<footer class="footer">
  <small>
    <%= t(".description_title", href: link_to(t("ruby_on_rails_tut"), Settings.links.rails_tutorial.home_page)).html_safe %>
    <%= t(".description_detail", href: link_to(t("ruby_on_rails_tut_author"), Settings.links.rails_tutorial.author)).html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts.application.en"), locale: :en %></li>
      <li><%= link_to t("layouts.application.vi"), locale: :vi %></li>
    </ul>
  </nav>
</footer>
